@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --color-primary: #030014;
  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;
  --color-gray-100: #9ca4ab;
  --color-dark-100: #0f0d23;
  --font-dm-sans: "DM Sans", sans-serif;
  --breakpoint-xs: 480px;
  --background-image-hero-pattern: url("/hero-bg.png");
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  background: var(--color-primary);
  margin: 0;
  padding: 0;
}

h1 {
  max-width: 64rem;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -1%;
  color: white;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

main {
  min-height: 100vh;
  position: relative;
  background: var(--color-primary);
  color: white;
  padding: 0 1rem;
}

header {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  width: 100%;
  max-width: 32rem;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pattern {
  background: var(--background-image-hero-pattern);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 0;
}

.wrapper {
  padding: 3rem 1.25rem;
  max-width: 7xl;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.text-gradient {
  background: linear-gradient(to right, #d6c7ff, #ab8bff);
  -webkit-background-clip: text;
  color: transparent;
}

.fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: "Bebas Neue", sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Center the search bar */
.search {
  width: 100%;
  background: rgba(206, 206, 251, 0.05);
  padding: 12px;
  border-radius: 0.75rem;
  margin-top: 2.5rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search div {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search img {
  position: absolute;
  left: 0.5rem;
  height: 20px;
  width: 20px;
}

.search input {
  width: 100%;
  background: transparent;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  font-size: 1rem;
  color: rgba(156, 164, 171, 1);
  border: none;
  border-radius: 0.75rem;
  outline: none;
}
